<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="/static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
</head>

<body>

<form class="form-narrow form-horizontal" action="#" th:object="${user}" method="post" th:action="@{/account/add}">

    <fieldset>
        <legend>Sign Up</legend>
        <div class="form-group">
            <label for="inputNickname" class="col-lg-2 control-label">Nickname</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" th:field="*{nickname}" id="inputNickname" placeholder="Nickname" name="username" />
                <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" th:field="*{password}" id="inputPassword" placeholder="Password" name="password" />
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" th:field="*{email}" id="inputEmail" placeholder="Email" name="email" />
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" th:field="*{name}" id="inputName" placeholder="Name" name="name" />
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputSurname" class="col-lg-2 control-label">Surname</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" th:field="*{surname}" id="inputSurname" placeholder="Surname" name="surname" />
                <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Sign In</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>